body {
    background-color: rgba(90, 90, 90, 0.178);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-text {
    color: #6c757d;
}