body {
    background-color: gray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    margin-top: 5px;
    margin-left: 17vh;
    margin-right: 17vh;
    margin-bottom: 20px;
    border-radius: 10px;
}

.footer {
    border-radius: 10px;
    margin-left: 17vh;
    margin-right: 17vh;
    margin-bottom: 5px;
}

.accordion-item {
    background-color: #212529;
    color: white;
  }
  
  .accordion-button {
    background-color: #212529;
    color: white;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #212529;
    color: white;
  }

@media (max-width: 767.98px) {
    .col-10 {
        width: 98% !important;
    }

    .navbar {
        text-align: center !important;
        margin-left: 0.5vh !important;
        margin-right: 0.5vh !important;
    }

    .footer {
        margin-left: 0.5vh !important;
        margin-right: 0.5vh !important;
    }

    .container-accordion {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .navbar {
        text-align: center;
        margin-left: 6.5vh;
        margin-right: 6.5vh;
    }

    .footer {
        margin-left: 6.5vh;
        margin-right: 6.5vh;
    }
}
